.tmpContainer{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #333333;
}
.avatar_data{
    padding: 10rpx;
}
.avatar_data img{
    width: 60rpx;
    height: 60rpx;
    vertical-align: middle;
    margin-right: 10rpx;
}
.avatar_data span{
    font-size: 28rpx;
    color: #333333;
}
.name{
    font-size: 40rpx;
    padding: 10rpx;
    font-weight: bold;
}
.detail_img{
    width: 95%;
    height: 460rpx;
    border-radius: 5%;
    margin: 15rpx;
}
.content{
    font-size: 36rpx;
    text-indent: 32rpx;
    line-height: 50rpx;
    letter-spacing: 5rpx;
}
.view_star img{
    width: 32rpx;
    height: 32rpx;
    vertical-align: middle;
    margin-left: 10rpx;
}
.view_star span{
    font-size: 28rpx;
    color: #333333;
    margin-left: 10rpx;
}